.home {
  display: flex;
  padding: 50px 100px;
  justify-content: space-between;
  flex-wrap: wrap;
  background: linear-gradient(
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  ),
  url("https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
background-size: cover;
background-position: center;
font-family: 'Gowun Dodum', sans-serif;
display: flex;
text-align: center;
}
.title{
  /* font-family: 'Fredoka One', cursive; */
  font-family: 'Jua', sans-serif;
  font-size: 30px;
}
.card {
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  position:relative;
  height: 450px;
  background-color: white;
  align-items: center;
}
.img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  margin: 0px;
  padding-top: 5PX;
  border-radius: 20PX;
}
.desc {
  color: #333;
  margin-bottom: 20px;
  line-height: 25px;
  text-align: center;
  height: 60px;
  vertical-align: middle;
  position: relative;
  top: 2%;
}
.cardButton {
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 100, 134);
  padding: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width : 100px;
  margin:auto;
  display:block;
  font-family: 'Jua', sans-serif;
  font-size: 20px;
}
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.postImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}
.postDesc {
  padding: 0 100px;
  font-size: 24px;
  font-weight: 300;
  color: gray;
  margin-top: 50px;
}
.postLongDesc {
  padding: 100px;
  padding-top: 50px;
  font-size: 18px;
  line-height: 24px;
}
.login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 60%;
  height: 75%;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  display: flex;
  align-items: center;
  border-radius: 20px;
}
.left,.right{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.or{
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  color: gray;
  background-color: white;
  font-weight: bold;
}
.line{
  width: 0.5px;
  height: 70%;
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}
.kakao{
  background-color: #FFEE00;
  width: 200px;
  padding: 15px 25px;
  border-radius: 5px;
  color: rgb(15, 10, 10);
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Jua', sans-serif;
}

.google{
  background-color: #9e95eb;
  width: 200px;
  padding: 15px 25px;
  border-radius: 5px;
  color: rgb(15, 10, 10);
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Jua', sans-serif;
  margin-top: 10px;
}

.icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #DF4930;
}
.input{
  width: 200px;
  padding: 15px 20px;
  margin-bottom: 20px;
}
.inputForm{
  width: 200px;
  height: 30px;
  margin: 3px;

}

.submit{
  width: 200px;
  background-color: rgb(174, 246, 144);
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  font-family: 'Jua', sans-serif;
  align-items: center;
  font-weight: bold;
  margin-top: 10px;
  font-size: medium;

}
.loginTitle{
  position: relative;
  top: 200px;
  color:lightgray
}
.link{
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 992px) {
  .card {
    width: 80%;
    margin-bottom: 50px;
  }
  .wrapper {
    width: 65%;
    height: 90%;
    flex-direction: column;
  }
  .loginTitle {
    display: none;
  }
  .center {
    width: 100%;
    position: relative;
  }
  .left {
    padding: 20px;
  }
  .right {
    padding: 20px;
  }
  .line {
    height: 0.5px;
    width: 300px;
  }
}

.submit:hover{
  background-color:#59b256;
}
