.parent {
  background: white;
  position:relative;
}

.slider {
  margin:0 8px;
  overflow:"hidden";
  padding:1rem 0;
}
  
.slider img {
  width: 100%;
  border-radius:10px;
  height: 300px;
}

/* x버튼 픽셀 */
.btn-wrapper {
  width: 64px;
  height: 64px;
}
  
.react-multi-carousel-list {
  padding: 0rem 0 0rem 0;
}

.react-multi-carousel-list{
  position: unset !important;
}
